body {
    border: 1px solid;
}


div.country {
    width: 170px;
    height: 150px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-indent: 0px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    background: aquamarine
}

/* .country {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 10px
} */

div.judul {
    align-items: center;
    text-align: center;
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}